<% content_for :title do %>Admin<% end %>
<ul>
  <li><%= link_to "Change your password", edit_user_registration_path %></li>
</ul>


<footer>
  <div class="col-md-2 text-center">
    <%= link_to 'Home', root_path, class: 'btn-sm btn-primary' %>
  </div>
</footer>

