<% content_for :title do %>Home<% end %>
<h1>Welcome
  <% if user_signed_in? %>
   <%= current_user.email %>
  <% end %>
</h1>
<p>
  You last searched for: <%= @last.search_query %> <!-- query db -->
</p>

<%= link_to 'New Search', main_search_path, class: 'btn-xs btn-success' %>