<h1>Search</h1>
<p>
  Welcome to the Twitter Query Engine. Here is where you enter your search to
  start crawling through Twitter. Select the type of search you would like to
  conduct, and then enter your query.
</p>

<%= render 'form' %>