<% content_for :title do %>Results<% end %>

<% if user_signed_in?
     keyword = @query.search_query
   else
     keyword = "#{cookies[:general]}"
   end %>

<h1>Result Page</h1>
<br />
<p>
  This is the result of your query. You searched for the word(s): <em><%= keyword %></em>
</p>

<table id="result-table" class="table" width="100%">
  <thead>
  <tr>
    <th>Tweets</th>
    <th>Username</th>
    <th>Posted On</th>
  </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <% time = DateTime.parse("#{tweet.created_at}") %>
      <tr>
        <td><%= "#{tweet.text}" %></td>
        <td><%= link_to "#{tweet.user.screen_name}", "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
        <td><%= time.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y at %I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="clear"></div>

<script type="text/javascript">
$(document).ready(function() {

    $('#result-table').DataTable({
        "bJQueryUI": true,
        "bAutoWidth": true,
        "bAutoHeight": false,
        "bFilter": false,
        "bLengthChange": false,
        "length": 5,
        "iDisplayLength": 5,
        "bInfo": true,
        "aoColumns": [
            { "sSortDataType": "dom-text"},
            { "sSortDataType": "dom-text"},
            { "sSortDataType": "dom-text"}
        ]
    });

});
</script>
