<h1>Result Page</h1>
<br />
<p>
  This is the result of your query.
</p>

<table class="table responsive">
  <tr>
    <th>Searched Word(s)</th>
    <th>Tweets</th>
    <th>Username</th>
  </tr>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>to:justinbieber marry me</td>
        <td><%= "#{tweet.text}" %></td>
        <td><%= link_to "#{tweet.user.screen_name}", "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
      </tr>
    <% end %>
</table>
