<footer class="footer navbar-static-bottom navbar-default">
      <div class="col-xs-2 col-md-2">
      </div>
      <div class="col-xs-8 col-md-8">
        <div class="nav navbar-nav navbar-text navbar-right">
          Twitter Query Engine Copyright <%= Time.now.year %>
        </div>
      </div>
      <div class="col-xs-2 col-md-2 ">
      </div>
</footer>